<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>234761692016-9jhufjaqb495n34bbndp2u1gba8bjelo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234761692016-9jhufjaqb495n34bbndp2u1gba8bjelo</string>
	<key>API_KEY</key>
	<string>AIzaSyAzOpCH77C1FbrlK2L_vBHCho5h6RJOrTY</string>
	<key>GCM_SENDER_ID</key>
	<string>234761692016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>juniormargalho.com.SnapchatClone</string>
	<key>PROJECT_ID</key>
	<string>snapchatclone-4a1ce</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclone-4a1ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234761692016:ios:6568a1a15525ddfe7625b5</string>
</dict>
</plist>